{%extends "header.html" %}

{%block content%}

<div class="submission-box">

    <div class="form-box">
        <form action="{{ url_for('app.confirm') }}" enctype="multipart/form-data" method="POST">
            <label>{{_('Molecule a calculer (au format xyz) : ')}}</label><br>
            <input type="file" id="inputFile" name="inputFile" accept=".xyz" onchange="updateMolecule()" required>
            <br>
            <br>
            <label>{{_('Adresse mail pour recevoir les resultats : ')}}</label><br>
            <input type="email" id="mail" name="mail" required>
            <br>
            <br>
            <input type="submit">
        </form>
    </div>

    <div id="display" class="flex-item">

    <!--
        citation needed :
        https://academic.oup.com/bioinformatics/article/31/8/1322/213186
        Nicholas Rego and David Koes
        3Dmol.js: molecular visualization with WebGL
        Bioinformatics (2015) 31 (8): 1322-1324 doi:10.1093/bioinformatics/btu829
        if I forget please remind me
    -->


        <script id="molVisuScript" src="https://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>

        <div id="preview" style="height: 300px; width: 500px;"
        class='viewer_3Dmoljs' data-datatype='xyz'
        data-backgroundcolor='0xFFFFFF'
        data-href=''
        data-style='stick'>
        </div>



    </div>

</div>


<script>

function updateMolecule() {

  const [file] = document.getElementById("inputFile").files;

  $('.viewer_3Dmoljs').data('href',URL.createObjectURL(file));

  $3Dmol.autoload();


}



</script>

{% endblock %}