<!DOCTYPE html>
<html>
<head>
<title>WebAromaticityGenerator</title>
</head>
<body>

<form action="/confirmation" enctype="multipart/form-data" method="POST">
    <label> Molecule a calculer (au format xyz) : </label>
    <input type="file" id="inputFile" name="inputFile" accept=".xyz" onchange="updateMolecule()" required>
    <br>
    <label> Adresse mail pour recevoir les resultats : </label>
    <input type="email" id="mail" name="mail" required>
    <br>
    <br>
    <input type="submit">
</form>

<br>

<div id="display" class="flex-container">

    <p>Molecule envoye : </p>

<!--
    citation needed :
    https://academic.oup.com/bioinformatics/article/31/8/1322/213186
    if I forget please remind me
-->


    <script id="molVisuScript" src="https://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>

    <div id="preview" style="height: 300px; width: 500px;"
    class='viewer_3Dmoljs' data-datatype='xyz'
    data-backgroundcolor='0xFFFFFF'
    data-href=''
    data-style='stick'>
    </div>



</div>



<script>

function updateMolecule() {

  const [file] = document.getElementById("inputFile").files;

  $('.viewer_3Dmoljs').data('href',URL.createObjectURL(file));

  $3Dmol.autoload();


}



</script>

</body>
</html>