.navbar {
  width: 99%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  display: inline-block;
}

.logo img{
  width: 150px;
}

.country{
    text-decoration: none;
}

.country img{
  height: 30px;
  width: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: darkgreen;
}

.nav-item:hover {
  background-color: darkgreen;
}

.nav-item:hover a {
  color: lightgreen;
}

body {
  margin-bottom:175px;
}

footer {
  display: flex;
  position: fixed;
  bottom : 0;
  left : 0;
  width: 100%;
  text-align: center;
  background-color: darkgreen;
  color: black;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
}

footer div {
    margin-bottom: -25px
}

.footer-heading a{
  color: black;
  text-decoration: none;
}

.footer-links {
  list-style: none;
  display: flex;
}

.footer-link-item {
  display: inline-block;
  padding: 10px 15px;
}

.footer-link-item a {
  color: black;
}

.footer-logos {
  list-style: none;
  display: flex;
}

.footer-logo {
  display: inline-block;
  padding: 10px 15px;
}

.submission-box{
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction : row;
  justify-content: space-between;
  align-content : center;
  align-items: center;
  outline: 2px solid black;
  border-radius: 15px;
}

.form-box {
  flex-grow: 1;
  padding-left: 5px;
  padding-right: 15px;

}

.viewer_3Dmoljs{
  flex-grow: 1;
  outline: 2px solid black;
}